@{
    ViewData["Title"] = "Home Page";
}
<section class="watermelon-image">
                <img src="~/images/watermelon.png" alt="Watermelon" class="img-fluid" style="display: block; margin: 20px auto; width: 100%; max-width: 600px;">
            </section>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container mt-5">
    <h3>Search</h3>
    <form method="get" action="Search/Index">
        <div class="form-group">
            <label for="searchInput">Search by Brand</label>
            <input type="text" id="searchInput" name="query" class="form-control" placeholder="Enter your search query" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
