@{
    ViewData["Title"] = "Request Info";
}
<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <td>Requestor email address</td>
        <td><input name="txtEmailAddress" id="txtEmailAddress" accept="email"></td>
    </tr>
</table>
