@{
    ViewData["Title"] = "Thank You for Your Submission";
}

<div class="text-center">
    <h1 class="display-4">Thank You!</h1>
    <p>Your request has been successfully submitted. We will review it and get back to you soon.</p>
    <p>Feel free to <a href="/">submit another request</a> or browse through other sections of the site.</p>
</div>
