@{
    ViewData["Title"] = "See Current Known Brands";
}

<h1>@ViewData["Title"]</h1>

<div name="brands-list">

</div>

<div class="container mt-5">
    <h3>Don't see the brand you are looking for?</h3>
    <form method="post" action="/Request/Index" style="background-color: #f9f9f9; padding: 20px; border-radius: 8px; max-width: 600px; margin: 0 auto;">
        <div style="margin-top: 20px;">
            <button type="submit" class="btn btn-success">Submit a Request</button>
        </div>
    </form>
</div>