@model List<WwatermelonWebsite.Models.BrandAction>

@{
    ViewData["Title"] = "See Current Known Brands";
}

<h1>@ViewData["Title"]</h1>


    <div name="brands-list" class="table">
        <table>
            <thead>
                <tr>
                    <th>
                        Brand
                    </th>
                    <th colspan="2" style="padding-right:10px; width: 25px;">
                        Action
                    </th>
                    <th style="text-align:center">
                        Why
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model!= null){
                    @foreach (var item in Model){
                        <tr>
                            <td>@item.Brand</td>
                            <td colspan="2" style="text-align:center;paddingt:5px 10px; width: 25px; font-weight: 700;">
                                @item.Action
                                </td>
                            <td style="text-align:center;color:gray"><i>@item.Why</i></td>
                        </tr>
                    }
                }
                else{
                    <tr>
                        <td colspan="3"><i>Sorry, there are no brands listed. Please check back later.</i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



<div class="container mt-5">
    <h3>Don't see the brand you are looking for?</h3>
    <form method="post" action="/Request/Submit" style="background-color: #f9f9f9; padding: 20px; border-radius: 8px; max-width: 600px; margin: 0 auto;">
        <div style="margin-top: 20px;">
            <button type="submit" class="btn btn-success">Submit a Request</button>
        </div>
    </form>
</div>